In [1]:
!cat game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


In [2]:
import pandas as pd
import sqlite3

In [3]:
game_log = pd.read_csv('game_log.csv')
park_codes = pd.read_csv('park_codes.csv')
person_codes = pd.read_csv('person_codes.csv')
team_codes = pd.read_csv('team_codes.csv')

/home/isaac/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

In [5]:
game_log.shape

(171907, 161)

In [6]:
game_log.tail()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
171902,20161002,0,Sun,MIL,NL,162,COL,NL,162,6,4,60.0,D,NaN,NaN,NaN,DEN02,27762.0,203.0,0200000202,1100100010,39.0,10.0,4.0,1.0,2.0,6.0,0.0,0.0,1.0,4.0,0.0,12.0,2.0,1.0,0.0,0.0,8.0,7.0,4.0,4.0,1.0,0.0,30.0,12.0,1.0,0.0,0.0,0.0,41.0,13.0,4.0,0.0,1.0,4.0,1.0,0.0,1.0,3.0,0.0,11.0,0.0,1.0,0.0,0.0,12.0,5.0,6.0,6.0,0.0,0.0,30.0,13.0,0.0,0.0,0.0,0.0,barrs901,Scott Barry,woodt901,Tom Woodring,randt901,Tony Randazzo,ortir901,Roberto Ortiz,NaN,NaN,NaN,NaN,counc001,Craig Counsell,weisw001,Walt Weiss,thort001,Tyler Thornburg,rusic001,Chris Rusin,knebc001,Corey Knebel,susaa001,Andrew Susac,cravt001,Tyler Cravy,marqg001,German Marquez,villj001,Jonathan Villar,5.0,genns001,Scooter Gennett,4.0,cartc002,Chris Carter,3.0,santd002,Domingo Santana,9.0,pereh001,Hernan Perez,8.0,arcio002,Orlando Arcia,6.0,susaa001,Andrew Susac,2.0,elmoj001,Jake Elmore,7.0,cravt001,Tyler Cravy,1.0,blacc001,Charlie Blackmon,8.0,dahld001,David Dahl,7.0,arenn001,Nolan Arenado,5.0,gonzc001,Carlos Gonzalez,9.0,murpt002,Tom Murphy,2.0,pattj005,Jordan Patterson,3.0,valap001,Pat Valaika,4.0,adamc001,Cristhian Adames,6.0,marqg001,German Marquez,1.0,NaN,Y
171903,20161002,0,Sun,NYN,NL,162,PHI,NL,162,2,5,51.0,D,NaN,NaN,NaN,PHI13,36935.0,159.0,000001100,00100031x,33.0,8.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,9.0,1.0,1.0,1.0,0.0,6.0,6.0,3.0,3.0,0.0,0.0,24.0,12.0,3.0,1.0,2.0,0.0,33.0,10.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,2.0,0.0,3.0,0.0,0.0,2.0,0.0,7.0,5.0,2.0,2.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,barkl901,Lance Barksdale,herna901,Angel Hernandez,barrt901,Ted Barrett,littw901,Will Little,NaN,NaN,NaN,NaN,collt801,Terry Collins,mackp101,Pete Mackanin,murrc002,Colton Murray,goede001,Erik Goeddel,nerih001,Hector Neris,hernc005,Cesar Hernandez,ynoag001,Gabriel Ynoa,eickj001,Jerad Eickhoff,granc001,Curtis Granderson,8.0,cabra002,Asdrubal Cabrera,6.0,brucj001,Jay Bruce,9.0,dudal001,Lucas Duda,3.0,johnk003,Kelly Johnson,4.0,confm001,Michael Conforto,7.0,campe001,Eric Campbell,5.0,plawk001,Kevin Plawecki,2.0,ynoag001,Gabriel Ynoa,1.0,hernc005,Cesar Hernandez,4.0,parej002,Jimmy Paredes,7.0,herro001,Odubel Herrera,8.0,franm004,Maikel Franco,5.0,howar001,Ryan Howard,3.0,ruppc001,Cameron Rupp,2.0,blana001,Andres Blanco,6.0,altha001,Aaron Altherr,9.0,eickj001,Jerad Eickhoff,1.0,NaN,Y
171904,20161002,0,Sun,LAN,NL,162,SFN,NL,162,1,7,51.0,D,NaN,NaN,NaN,SFO03,41445.0,184.0,000100000,23000002x,30.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,0.0,1.0,0.0,4.0,7.0,7.0,7.0,0.0,0.0,24.0,5.0,1.0,0.0,0.0,0.0,39.0,16.0,3.0,1.0,0.0,7.0,0.0,0.0,0.0,4.0,1.0,11.0,2.0,1.0,0.0,0.0,12.0,2.0,1.0,1.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,knigb901,Brian Knight,westj901,Joe West,fleta901,Andy Fletcher,danlk901,Kerwin Danley,NaN,NaN,NaN,NaN,robed001,Dave Roberts,bochb002,Bruce Bochy,moorm003,Matt Moore,maedk001,Kenta Maeda,NaN,NaN,poseb001,Buster Posey,maedk001,Kenta Maeda,moorm003,Matt Moore,kendh001,Howie Kendrick,7.0,turnj001,Justin Turner,5.0,seagc001,Corey Seager,6.0,puigy001,Yasiel Puig,9.0,gonza003,Adrian Gonzalez,3.0,grany001,Yasmani Grandal,2.0,pedej001,Joc Pederson,8.0,utlec001,Chase Utley,4.0,maedk001,Kenta Maeda,1.0,spand001,Denard Span,8.0,beltb001,Brandon Belt,3.0,poseb001,Buster Posey,2.0,pench001,Hunter Pence,9.0,crawb001,Brandon Crawford,6.0,pagaa001,Angel Pagan,7.0,panij002,Joe Panik,4.0,gillc001,Conor Gillaspie,5.0,moorm003,Matt Moore,1.0,NaN,Y
171905,20161002,0,Sun,PIT,NL,162,SLN,NL,162,4,10,51.0,D,NaN,NaN,NaN,STL10,44615.0,192.0,000020200,00100360x,35.0,9.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,4.0,0.0,11.0,0.0,1.0,0.0,0.0,8.0,6.0,8.0,8.0,0.0,0.0,24.0,2.0,2.0,0.0,0.0,0.0,36.0,12.0,2.0,0.0,1.0,10.0,0.0,2.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,8.0,3.0,4.0,4.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,cuzzp901,Phil Cuzzi,ticht901,Todd Tichenor,vanol901,Larry Vanover,marqa901,Alfonso Marquez,NaN,NaN,NaN,NaN,hurdc001,Clint Hurdle,mathm001,Mike Matheny,broxj001,Jonathan Broxton,nicaj001,Juan Nicasio,NaN,NaN,piscs001,Stephen Piscotty,voger001,Ryan Vogelsong,waina001,Adam Wainwright,jasoj001,John Jaso,3.0,polag001,Gregory Polanco,9.0,mccua001,Andrew McCutchen,8.0,kangj001,Jung Ho Kang,5.0,joycm001,Matt Joyce,7.0,hansa001,Alen Hanson,4.0,fryee001,Eric Fryer,2.0,florp001,Pedro Florimon,6.0,voger001,Ryan Vogelsong,1.0,carpm002,Matt Carpenter,3.0,diaza003,Aledmys Diaz,6.0,moliy001,Yadier Molina,2.0,piscs001,Stephen Piscotty,9.0,peraj001,Jhonny Peralta,5.0,mossb001,Brandon Moss,7.0,gyorj001,Jedd Gyorko,4.0,gricr001,Randal Grichuk,8.0,waina001,Adam Wainwright,1.0,NaN,Y
171906,20161002,0,Sun,MIA,NL,161,WAS,NL,162,7,10,51.0,D,NaN,NaN,NaN,WAS11,28730.0,216.0,000230020,03023002x,38.0,14.0,1.0,1.0,2.0,7.0,1.0,0.0,0.0,3.0,2.0,10.0,1.0,1.0,1.0,0.0,8.0,7.0,10.0,10.0,1.0,0.0,24.0,11.0,0.0,0.0,1.0,0.0,30.0,10.0,2.0,0.0,1.0,10.0,1.0,1.0,1.0,8.0,0.0,3.0,2.0,0.0,1.0,0.0,7.0,6.0,7.0,7.0,1.0,0.0,27.0,11.0,0.0,0.0,1.0,0.0,tumpj901,John Tumpane,porta901,Alan Porter,onorb901,Brian O'Nora,kellj901,Jeff Kellogg,NaN,NaN,NaN,NaN,mattd001,Don Mattingly,baked002,Dusty Baker,schem001,Max Scherzer,brica001,Austin Brice,melam001,Mark Melancon,difow001,Wilmer Difo,koeht001,Tom Koehler,schem001,Max Scherzer,gordd002,Dee Gordon,4.0,telit001,Tomas Telis,2.0,pradm001,Martin Prado,5.0,yelic001,Christian Yelich,8.0,bourj002,Justin Bour,3.0,scrux001,Xavier Scruggs,7.0,hoodd001,Destin Hood,9.0,hecha001,Adeiny Hechavarria,6.0,koeht001,Tom Koehler,1.0,turnt001,Trea Turner,8.0,reveb001,Ben Revere,7.0,harpb003,Bryce Harper,9.0,zimmr001,Ryan Zimmerman,3.0,drews001,Stephen Drew,5.0,difow001,Wilmer Difo,4.0,espid001,Danny Espinosa,6.0,lobaj001,Jose Lobaton,2.0,schem001,Max Scherzer,1.0,NaN,Y

In [7]:
park_codes.shape

(252, 9)

In [8]:
person_codes.shape

(20494, 7)

In [9]:
park_codes.head()

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,NaN,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,04/30/1884,05/31/1884,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,NaN,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,04/21/1972,10/03/1993,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,NaN,AL,NaN

In [10]:
team_codes.shape

(150, 8)

In [11]:
team_codes

    team_id league  start   end           city         nickname franch_id  seq
0       ALT     UA   1884  1884        Altoona  Mountain Cities       ALT    1
1       ARI     NL   1998     0        Arizona     Diamondbacks       ARI    1
2       BFN     NL   1879  1885        Buffalo           Bisons       BFN    1
3       BFP     PL   1890  1890        Buffalo           Bisons       BFP    1
4       BL1    NaN   1872  1874      Baltimore         Canaries       BL1    1
5       BL2     AA   1882  1891      Baltimore          Orioles       BL2    1
6       BLN     NL   1892  1899      Baltimore          Orioles       BL2    2
7       BL4    NaN   1873  1873      Baltimore        Marylands       BL4    1
8       BLA     AL   1901  1902      Baltimore          Orioles       BLA    1
9       NYA     AL   1903     0       New York          Yankees       BLA    2
10      BLF     FL   1914  1915      Baltimore        Terrapins       BLF    1
11      BLU     UA   1884  1884      Baltimore           Unions       BLU    1
12      BOS     AL   1901     0         Boston          Red Sox       BOS    1
13      BR1    NaN   1872  1872       Brooklyn         Eckfords       BR1    1
14      BR2    NaN   1872  1875       Brooklyn        Atlantics       BR2    1
15      BR3     AA   1884  1889       Brooklyn          Dodgers       BR3    1
16      BRO     NL   1890  1957       Brooklyn          Dodgers       BR3    2
17      LAN     NL   1958     0    Los Angeles          Dodgers       BR3    3
18      BR4     AA   1890  1890       Brooklyn       Gladiators       BR4    1
19      BRF     FL   1914  1915       Brooklyn         Tip-Tops       BRF    1
20      BRP     PL   1890  1890       Brooklyn          Wonders       BRP    1
21      BS1    NaN   1871  1875         Boston           Braves       BS1    1
22      BSN     NL   1876  1952         Boston           Braves       BS1    2
23      MLN     NL   1953  1965      Milwaukee           Braves       BS1    3
24      ATL     NL   1966     0        Atlanta           Braves       BS1    4
25      BSP     PL   1890  1890         Boston             Reds       BSP    1
26      BS2     AA   1891  1891         Boston             Reds       BSP    2
27      BSU     UA   1884  1884         Boston             Reds       BSU    1
28      BUF     FL   1914  1915        Buffalo             Feds       BUF    1
29      CH1    NaN   1871  1871        Chicago  White Stockings       CH1    1
30      CH2    NaN   1874  1875        Chicago  White Stockings       CH2    1
31      CHN     NL   1876     0        Chicago             Cubs       CH2    2
32      CHA     AL   1901     0        Chicago        White Sox       CHA    1
33      CHF     FL   1914  1915        Chicago           Whales       CHF    1
34      CHP     PL   1890  1890        Chicago          Pirates       CHP    1
35      CHU     UA   1884  1884        Chicago           Unions       CHU    1
36      CL1    NaN   1871  1872      Cleveland    Forest Cities       CL1    1
37      CL2     NL   1879  1884      Cleveland          Spiders       CL2    1
38      CL3     AA   1887  1888      Cleveland          Spiders       CL3    1
39      CL4     NL   1889  1899      Cleveland          Spiders       CL3    2
40      CL5     AA   1883  1884       Columbus            Colts       CL5    1
41      CL6     AA   1889  1891       Columbus            Colts       CL6    1
42      CLE     AL   1901     0      Cleveland          Indians       CLE    1
43      CLP     PL   1890  1890      Cleveland          Infants       CLP    1
44      CN1     NL   1876  1880     Cincinnati             Reds       CN1    1
45      CN2     AA   1882  1889     Cincinnati             Reds       CN2    1
46      CIN     NL   1890     0     Cincinnati             Reds       CN2    2
47      CN3     AA   1891  1891     Cincinnati          Porkers       CN3    1
48      CNU     UA   1884  1884     Cincinnati      Outlaw Reds       CNU    1
49      COL     NL   1993     0       Colorado          Rockies       COL    1
50      DET     AL   1901     0        Detroit           Tigers       DET    1
51      DTN     NL   1881  1888        Detroit       Wolverines       DTN    1
52      ELI    NaN   1873  1873      Elizabeth        Resolutes       ELI    1
53      FLO     NL   1993  2011        Florida          Marlins       FLO    1
54      FW1    NaN   1871  1871      Ft. Wayne        Kekiongas       FW1    1
55      HOU     NL   1962     0        Houston           Astros       HOU    1
56      HR1    NaN   1874  1875       Hartford       Dark Blues       HR1    1
57      HAR     NL   1876  1877       Hartford       Dark Blues       HR1    2
58      IN1     NL   1878  1878   Indianapolis            Blues       IN1    1
59      IN2     AA   1884  1884   Indianapolis            Blues       IN2    1
60      IN3     NL   1887  1889   Indianapolis         Hoosiers       IN3    1
61      IND     FL   1914  1914   Indianapolis     Hoosier-Feds       IND    1
62      NEW     FL   1915  1915         Newark          Peppers       IND    2
63      KC2     AA   1888  1889    Kansas City            Blues       KC2    1
64      KCA     AL   1969     0    Kansas City           Royals       KCA    1
65      KCF     FL   1914  1915    Kansas City          Packers       KCF    1
66      KCN     NL   1886  1886    Kansas City          Cowboys       KCN    1
67      KCU     UA   1884  1884    Kansas City           Unions       KCU    1
68      KEO    NaN   1875  1875         Keokuk         Westerns       KEO    1
69      LAA     AL   1961  1964    Los Angeles           Angels       LAA    1
70      CAL     AL   1965  1996     California           Angels       LAA    2
71      ANA     AL   1997     0        Anaheim           Angels       LAA    3
72      LS1     NL   1876  1877     Louisville            Grays       LS1    1
73      LS2     AA   1882  1891     Louisville         Colonels       LS2    1
74      LS3     NL   1892  1899     Louisville         Colonels       LS2    2
75      MID    NaN   1872  1872     Middletown       Mansfields       MID    1
76      ML2     NL   1878  1878      Milwaukee      Cream Citys       ML1    1
77      ML3     AA   1891  1891      Milwaukee          Brewers       ML3    1
78      MLA     AL   1901  1901      Milwaukee          Brewers       MLA    1
79      SLA     AL   1902  1953      St. Louis           Browns       MLA    2
80      BAL     AL   1954     0      Baltimore          Orioles       MLA    3
81      MLU     UA   1884  1884      Milwaukee            Grays       MLU    1
82      MON     NL   1969  2004       Montreal            Expos       MON    1
83      WAS     NL   2005     0     Washington        Nationals       MON    2
84      NH1    NaN   1875  1875      New Haven       Elm Cities       NH1    1
85      NY2    NaN   1871  1875       New York          Mutuals       NY2    1
86      NY3     NL   1876  1876       New York          Mutuals       NY2    2
87      NY4     AA   1883  1887       New York    Metropolitans       NY4    1
88      NYN     NL   1962     0       New York             Mets       NYN    1
89      NYP     PL   1890  1890       New York           Giants       NYP    1
90      PH1    NaN   1871  1875   Philadelphia        Athletics       PH1    1
91      PHN     NL   1876  1876   Philadelphia        Athletics       PH1    2
92      PH2    NaN   1873  1875   Philadelphia  White Stockings       PH2    1
93      PH3    NaN   1875  1875   Philadelphia      Centennials       PH3    1
94      PH4     AA   1882  1891   Philadelphia        Athletics       PH4    1
95      PHI     NL   1883     0   Philadelphia         Phillies       PHI    1
96      PHA     AL   1901  1954   Philadelphia        Athletics       PHA    1
97      KC1     AL   1955  1967    Kansas City        Athletics       PHA    2
98      OAK     AL   1968     0        Oakland        Athletics       PHA    3
99      PHP     PL   1890  1890   Philadelphia          Quakers       PHP    1
100     PHU     UA   1884  1884   Philadelphia        Keystones       PHU    1
101     PRO     NL   1878  1885     Providence            Grays       PRO    1
102     PT1     AA   1882  1886     Pittsburgh          Pirates       PT1    1
103     PIT     NL   1887     0     Pittsburgh          Pirates       PT1    2
104     PTF     FL   1914  1915     Pittsburgh           Rebels       PTF    1
105     PTP     PL   1890  1890     Pittsburgh         Burghers       PTP    1
106     PTU     UA   1884  1884     Pittsburgh           Unions       PTU    1
107     RC1    NaN   1871  1871       Rockford     Forest Citys       RC1    1
108     RC2     AA   1890  1890      Rochester      Hop Bitters       RC2    1
109     RIC     AA   1884  1884       Richmond        Virginias       RIC    1
110     SDN     NL   1969     0      San Diego           Padres       SDN    1
111     SE1     AL   1969  1969        Seattle           Pilots       SE1    1
112     MIL     AL   1970  1997      Milwaukee          Brewers       SE1    2
113     MIL     NL   1998     0      Milwaukee          Brewers       SE1    3
114     SEA     AL   1977     0        Seattle         Mariners       SEA    1
115     SL1    NaN   1875  1875      St. Louis    Red Stockings       SL1    1
116     SL2    NaN   1875  1875      St. Louis  Brown Stockings       SL2    1
117     SL3     NL   1876  1877      St. Louis  Brown Stockings       SL2    2
118     SL4     AA   1882  1891      St. Louis        Cardinals       SL4    1
119     SLN     NL   1892     0      St. Louis        Cardinals       SL4    2
120     SLF     FL   1914  1915      St. Louis         Terriers       SLF    1
121     SLU     UA   1884  1884      St. Louis          Maroons       SLU    1
122     SL5     NL   1885  1886      St. Louis          Maroons       SLU    2
123     SPU     UA   1884  1884       St. Paul           Saints       SPU    1
124     SR1     NL   1879  1879       Syracuse            Stars       SR1    1
125     SR2     AA   1890  1890       Syracuse            Stars       SR2    1
126     TBA     AL   1998     0      Tampa Bay       Devil Rays       TBA    1
127     TL1     AA   1884  1884         Toledo   Blue Stockings       TL1    1
128     TL2     AA   1890  1890         Toledo          Maumees       TL2    1
129     TOR     AL   1977     0        Toronto        Blue Jays       TOR    1
130     TRN     NL   1879  1882           Troy          Trojans       TRN    1
131     NY1     NL   1883  1957       New York           Giants       TRN    2
132     SFN     NL   1958     0  San Francisco           Giants       TRN    3
133     TRO    NaN   1871  1872           Troy        Haymakers       TRO    1
134     WIL     UA   1884  1884     Wilmington       Quicksteps       WIL    1
135     WOR     NL   1880  1882      Worcester        Ruby Legs       WOR    1
136     WS1     AL   1901  1960     Washington         Senators       WS1    1
137     MIN     AL   1961     0      Minnesota            Twins       WS1    2
138     WS2     AL   1961  1971     Washington         Senators       WS2    1
139     TEX     AL   1972     0          Texas          Rangers       WS2    2
140     WS3    NaN   1871  1872     Washington         Olympics       WS3    1
141     WS4    NaN   1872  1872     Washington        Nationals       WS4    1
142     WS5    NaN   1873  1873     Washington        Nationals       WS5    1
143     WS6    NaN   1875  1875     Washington        Nationals       WS6    1
144     WS7     AA   1884  1884     Washington        Nationals       WS7    1
145     WS8     NL   1886  1889     Washington         Senators       WS8    1
146     WS9     AA   1891  1891     Washington         Senators       WS9    1
147     WSN     NL   1892  1899     Washington         Senators       WS9    2
148     WSU     UA   1884  1884     Washington        Nationals       WSU    1
149     MIA     NL   2012     0          Miami          Marlins       FLO    2

In [12]:
person_codes.head()

         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN

### Creating the Database:

In [13]:
def run_query(q):
    with sqlite3.connect('mlb.db') as conn:
        return pd.read_sql(q, conn)
def run_command(command):
    with sqlite3.connect('mlb.db') as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(command)

In [14]:
conn = sqlite3.connect("mlb.db")
# game_log.to_sql('game_log', conn, index=False)

In [15]:
# park_codes.to_sql('park_codes', conn, index=False)
# person_codes.to_sql('person_codes', conn, index=False)
# team_codes.to_sql('team_codes', conn, index=False)

In [16]:
# run_command("ALTER TABLE game_log ADD COLUMN game_id;")

In [17]:
# run_command("UPDATE game_log SET game_id = h_name||date||h_game_number")

In [18]:
game_log.head()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [19]:
run_query("SELECT h_name, date, h_game_number, game_id FROM game_log LIMIT 5")

  h_name      date  h_game_number       game_id
0    FW1  18710504              1  FW1187105041
1    WS3  18710505              1  WS3187105051
2    RC1  18710506              1  RC1187105061
3    CH1  18710508              1  CH1187105081
4    TRO  18710509              1  TRO187105091

In [20]:
game_log.columns

Index(['date', 'number_of_game', 'day_of_week', 'v_name', 'v_league',
       'v_game_number', 'h_name', 'h_league', 'h_game_number', 'v_score',
       ...
       'h_player_7_name', 'h_player_7_def_pos', 'h_player_8_id',
       'h_player_8_name', 'h_player_8_def_pos', 'h_player_9_id',
       'h_player_9_name', 'h_player_9_def_pos', 'additional_info',
       'acquisition_info'],
      dtype='object', length=161)

In [21]:
person_create = """
CREATE TABLE IF NOT EXISTS person (
    person_id TEXT PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);
"""
run_command(person_create)

In [22]:
person_add = """
INSERT OR IGNORE INTO person
    SELECT id, first, last FROM person_codes
"""
run_command(person_add)

In [23]:
run_query("SELECT * FROM person LIMIT 10")

  person_id first_name    last_name
0  aardd001      David      Aardsma
1  aaroh101       Hank        Aaron
2  aarot101     Tommie        Aaron
3  aased001        Don         Aase
4  abada001       Andy         Abad
5  abadf001   Fernando         Abad
6  abadj101       John       Abadie
7  abbae101         Ed  Abbaticchio
8  abbeb101       Bert        Abbey
9  abbec101    Charlie        Abbey

In [24]:
park_create = """
CREATE TABLE IF NOT EXISTS park (
    park_id TEXT PRIMARY KEY,
    name TEXT,
    nickname TEXT,
    city TEXT,
    state TEXT,
    notes TEXT
)
"""
run_command(park_create)

In [25]:
run_command("""
INSERT OR IGNORE INTO park
    SELECT park_id, name, aka, city, state, notes FROM park_codes
""")

In [26]:
run_query("SELECT * FROM park LIMIT 10")

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None
5,ATL01,Atlanta-Fulton County Stadium,None,Atlanta,GA,None
6,ATL02,Turner Field,None,Atlanta,GA,None
7,ATL03,Suntrust Park,None,Atlanta,GA,None
8,BAL01,Madison Avenue Grounds,None,Baltimore,MD,WS3
9,BAL02,Newington Park,None,Baltimore,MD,BL1:1872-74; BL4:1873; BL2: 1882

In [27]:
run_query("SELECT * FROM team_codes WHERE league = 'FL'")

  team_id league  start   end          city      nickname franch_id  seq
0     BLF     FL   1914  1915     Baltimore     Terrapins       BLF    1
1     BRF     FL   1914  1915      Brooklyn      Tip-Tops       BRF    1
2     BUF     FL   1914  1915       Buffalo          Feds       BUF    1
3     CHF     FL   1914  1915       Chicago        Whales       CHF    1
4     IND     FL   1914  1914  Indianapolis  Hoosier-Feds       IND    1
5     NEW     FL   1915  1915        Newark       Peppers       IND    2
6     KCF     FL   1914  1915   Kansas City       Packers       KCF    1
7     PTF     FL   1914  1915    Pittsburgh        Rebels       PTF    1
8     SLF     FL   1914  1915     St. Louis      Terriers       SLF    1

In [28]:
run_command("""
CREATE TABLE IF NOT EXISTS league(
    league_id TEXT PRIMARY KEY,
    name TEXT
);
""")

In [29]:
run_command("""
INSERT OR IGNORE INTO league
    VALUES
        ('UA', 'Union Association'),
        ('NL', 'National League'),
        ('PL', 'Players League'),
        ('AA', 'Double-A'),
        ('AL', 'American League'),
        ('FL', 'Federal League');
""")

In [30]:
run_query("SELECT * FROM league")

  league_id               name
0        UA  Union Association
1        NL    National League
2        PL     Players League
3        AA           Double-A
4        AL    American League
5        FL     Federal League

In [31]:
appearance_df = pd.read_csv('appearance_type.csv')
appearance_df

   appearance_type_id                name category
0                  O1            Batter 1  offense
1                  O2            Batter 2  offense
2                  O3            Batter 3  offense
3                  O4            Batter 4  offense
4                  O5            Batter 5  offense
5                  O6            Batter 6  offense
6                  O7            Batter 7  offense
7                  O8            Batter 8  offense
8                  O9            Batter 9  offense
9                  D1             Pitcher  defense
10                 D2             Catcher  defense
11                 D3            1st Base  defense
12                 D4            2nd Base  defense
13                 D5            3rd Base  defense
14                 D6           Shortstop  defense
15                 D7          Left Field  defense
16                 D8        Center Field  defense
17                 D9         Right Field  defense
18                D10    Unknown Position  defense
19                UHP          Home Plate   umpire
20                U1B          First Base   umpire
21                U2B         Second Base   umpire
22                U3B          Third Base   umpire
23                ULF          Left Field   umpire
24                URF         Right Field   umpire
25                 MM             Manager  manager
26                AWP     Winning Pitcher    award
27                ALP      Losing Pitcher    award
28                ASP      Saving Pitcher    award
29                AWB  Winning RBI Batter    award
30                PSP    Starting Pitcher  pitcher

In [32]:
run_command("""
CREATE TABLE IF NOT EXISTS appearance_type(
    appearance_type TEXT PRIMARY KEY,
    name TEXT,
    category TEXT
)
""")

In [33]:
# appearance_df.to_sql('appear_inter', conn, index=False)

In [34]:
run_command("""
INSERT OR IGNORE INTO appearance_type
    SELECT * FROM appear_inter
""")

In [55]:
run_query('SELECT * FROM appearance_type').iloc[19:]

   appearance_type                name category
19             UHP          Home Plate   umpire
20             U1B          First Base   umpire
21             U2B         Second Base   umpire
22             U3B          Third Base   umpire
23             ULF          Left Field   umpire
24             URF         Right Field   umpire
25              MM             Manager  manager
26             AWP     Winning Pitcher    award
27             ALP      Losing Pitcher    award
28             ASP      Saving Pitcher    award
29             AWB  Winning RBI Batter    award
30             PSP    Starting Pitcher  pitcher

In [36]:
run_command("""
CREATE TABLE IF NOT EXISTS team(
    team_id TEXT PRIMARY KEY,
    league_id TEXT,
    city TEXT,
    nickname TEXT,
    franch_id TEXT,
    FOREIGN KEY (league_id) REFERENCES league(league_id)
)
""")

In [37]:
team_codes.head()

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1

In [38]:
run_command("""
INSERT OR IGNORE INTO team
    SELECT team_id, league, city, nickname, franch_id FROM team_codes
""")

In [39]:
run_query("SELECT * FROM team LIMIT 10")

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1
5     BL2        AA  Baltimore          Orioles       BL2
6     BLN        NL  Baltimore          Orioles       BL2
7     BL4      None  Baltimore        Marylands       BL4
8     BLA        AL  Baltimore          Orioles       BLA
9     NYA        AL   New York          Yankees       BLA

In [40]:
run_query("SELECT * FROM game_log LIMIT 15")

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info,game_id
0,18710504,0,Thu,CL1,None,1,FW1,None,1,0,2,54.0,D,None,None,None,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,None,6.0,1.0,None,-1.0,None,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,None,0.0,0.0,None,-1.0,None,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,None,None,None,None,None,None,None,None,None,None,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,None,None,None,None,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,None,Y,FW1187105041
1,18710505,0,Fri,BS1,None,1,WS3,None,1,20,18,54.0,D,None,None,None,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,None,5.0,3.0,None,-1.0,None,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,None,2.0,1.0,None,-1.0,None,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,None,None,None,None,None,None,None,None,None,None,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,None,None,None,None,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y,WS3187105051
2,18710506,0,Sat,CL1,None,2,RC1,None,1,12,4,54.0,D,None,None,None,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,-1.0,None,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,None,3.0,5.0,None,-1.0,None,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,None,None,None,None,None,None,None,None,None,None,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,None,None,None,None,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,None,Y,RC1187105061
3,18710508,0,Mon,CL1,None,3,CH1,None,1,12,14,54.0,D,None,None,None,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,-1.0,None,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,None,2.0,1.0,None,-1.0,None,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,None,None,None,None,None,None,None,None,None,None,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,None,None,None,None,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,None,Y,CH1187105081
4,18710509,0,Tue,BS1,None,2,TRO,None,1,9,5,54.0,D,None,None,None,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,None,0.0,1.0,None,-1.0,None,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,None,0.0,2.0,None,-1.0,None,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,None,None,None,None,None,None,None,None,None,None,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,None,None,None,None,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y,TRO187105091
5,18710511,0,Thu,CH1,None,2,CL1,None,4,18,10,48.0,D,None,V,None,CLE01,2500.0,120.0,12120534,01410004,41.0,15.0,1.0,3.0,3.0,10.0,0.0,0.0,0.0,8.0,None,1.0,0.0,None,-1.0,None,7.0,1.0,4.0,4.0,0.0,0.0,24.0,11.0,4.0,3.0,0.0,0.0,39.0,13.0,1.0,2.0,1.0,7.0,0.0,0.0,0.0,0.0,None,0.0,0.0,None,-1.0,None,5.0,2.0,10.0,10.0,2.0,0.0,24.0,7.0,5.0,2.0,0.0,0.0,haynj901,J.H. Haynie,None,None,None,None,None,None,None,None,None,None,woodj106,Jimmy Wood,paboc101,Charlie Pabor,zettg101,George Zettlein,prata101,Al Pratt,None,None,None,None,zettg101,George Zettlein,prata101,Al Pratt,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,7.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,8.0,folet101,Tom Foley,9.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,None,Y,CL1187105114
6,18710513,0,Sat,WS3,None,2,CL1,None,5,12,8,54.0,D,None,None,None,CIN01,1200.0,150.0,141020004,004100012,42.0,9.0,2.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0,None,1.0,1.0,None,-1.0,None,4.0,1.0,2.0,2.0,0.0,0.0,27.0,9.0,6.0,3.0,1.0,0.0,39.0,11.0,1.0,1.0,0.0,5.0,0.0,0.0,0.0,0.0,None,1.0,0.0,None,-1.0,None,4.0,1.0,3.0,3.0,3.0,0.0,27.0,6.0,8.0,1.0,0.0,0.0,drapj901,Doc Draper,None,None,None,None,None,None,None,None,None,None,younn801,Nick Young,paboc101,Charlie Pabor,braia102,Asa Brainard,prata101,Al Pratt,None,None,None,None,braia102,Asa Brainard,prata101,Al Pratt,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,whitd102,Deacon White,2.0,allia101,Art Allison,8.0,paboc101,Charlie Pabor,7.0,carlj102,Jim Carleton,3.0,kimbg101,Gene Kimball,4.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,white104,Elmer White,9.0,bassj101,John Bass,6.0,None,Y,CL1187105135
7,18710513,0,Sat,CH1,None,3,FW1,None,2,14,5,54.0,D,None,None,None,FOR01,1500.0,105.0,053210012,200002001,45.0,17.0,5.0,2.0,0.0,10.0,0.0,0.0,0.0,1.0,None,1.0,2.0,None,-1.0,None,5.0,1.0,2.0,2.0,0.0,0.0,27.0,8.0,4.0,2.0,0.0,0.0,33.0,5.0,1.0,2.0,0.0,3.0,0.0,0.0,0.0,3.0,None,1.0,0.0,None,-1.0,None,4.0,1.0,6.0,6.0,0.0,0.0,27.0,8.0,7.0,3.0,0.0,0.0,haynj901,J.H. Haynie,None,None,None,None,None,None,None,None,None,None,woodj106,Jimmy Wood,lennb101,Bill Lennon,zettg101,George Zettlein,mathb101,Bobby Mathews,None,None,None,None,zettg101,George Zettlein,mathb101,Bobby Mathews,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,donnp101,Pete Donnelly,8.0,kellb105,Bill Kelly,9.0,None,Y,FW1187105132
8,18710515,0,Mon,WS3,None,3,FW1,None,3,6,12,54.0,D,None,None,None,FOR01,NaN,140.0,030100101,003300123,42.0,8.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,None,1.0,1.0,None,-1.0,None,10.0,1.0,4.0,4.0,0.0,0.0,27.0,13.0,5.0,6.0,0.0,0.0,49.0,20.0,5.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,None,1.0,1.0,None,-1.0,None,10.0,1.0,1.0,1.0,0.0,0.0,27.0,6.0,9.0,2.0,0.0,0.0,holls901,Sam Holley,None,None,None,None,None,None,None,None,None,None,younn801,Nick Young,lennb101,Bill Lennon,mathb101,Bobby Mathews,braia102,Asa Brainard,None,None,None,None,braia102,Asa Brainard,mathb101,Bobby Mathews,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,donnp101,Pete Donnelly,9.0,kellb105,Bill Kelly,8.0,None,Y,FW1187105153
9,18710516,0,Tue,TRO,None,2,BS1,None,3,29,14,54.0,D,None,None,None,BOS01,2500.0,NaN,302604(11)30,610020221,64.0,26.0,3.0,1.0,0.0,26.0,0.0,0.0,0.0,2.0,None,0.0,3.0,None,-1.0,None,10.0,1.0,4.0,4.0,0.0,0.0,27.0,11.0,8.0,3.0,3.0,0.0,43.0,13.0,3.0,0.0,0.0,9.0,0.0,0.0,0.0,4.0,None,1.0,3.0,None,-1.0,None,6.0,1.0,10.0,10.0,0.0,0.0,27.0,17.0,15.0,2.0,1.0,0.0,rogem901,Mort Rogers,None,None,None,None,None,None,None,None,None,None,pikel101,Lip Pike,wrigh101,Harry Wright,mcmuj101,John McMullin,spala101,Al Spalding,None,None,None,None,mcmuj101,John McMullin,spala101,Al Spalding,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,6.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,jacks101,Sam Jackson,8.0,HTBF,Y,BS1187105163
10,18710516,0,Tue,WS3,None,4,CH1,None,4,4,14,54.0,D,None,None,None,CHI01,5000.0,117.0,002000002,020312303,37.0,9.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0,1.0,None,0.0,0.0,None,-1.0,None,7.0,1.0,2.0,2.0,0.0,0.0,27.0,14.0,11.0,6.0,1.0,0.0,47.0,13.0,4.0,0.0,0.0,9.0,0.0,0.0,0.0,1.0,None,0.0,3.0,None,-1.0,None,7.0,1.0,2.0,2.0,1.0,0.0,27.0,16.0,4.0,2.0,2.0,0.0,holls901,Sam Holley,None,None,None,None,None,None,None,None,None,None,younn801,Nick Young,woodj106,Jimmy Wood,zettg101,George Zettlein,braia102,Asa Brainard,None,None,None,None,braia102,Asa Brainard,zettg101,George Zettlein,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,treaf101,Fred Treacey,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,None,Y,CH1187105164
11,18710517,0,Wed,WS3,None,5,RC1,None,2,12,15,54.0,D,None,V,None,RCK01,NaN,135.0,220000035,023014023,44.0,9.0,3.0,2.0,0.0,10.0,0.0,0.0,0.0,2.0,None,1.0,1.0,None,-1.0,None,7.0,1.0,10.0,10.0,0.0,0.0,27.0,11.0,7.0,7.0,0.0,0.0,47.0,16.0,4.0,4.0,0.0,10.0,0.0,0.0,0.0,3.0,None,0.0,3.0,None,-1.0,None,8.0,1.0,2.0,2.0,1.0,0.0,27.0,18.0,11.0,2.0,0.0,0.0,woodj106,Jimmy Wood,None,None,None,None,None,None,None,None,None,None,younn801,Nick Young,hasts101,Scott Hastings,None,None,None,None,None,None,None,None,braia102,Asa Brainard,fishc102,Cherokee Fisher,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,7.0,stirg101,Gat Stires,9.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,8.0,None,Y,RC1187105172
12,18710518,0,Thu,NY2,None,1,TRO,None,3,14,3,54.0,D,None,None,None,TRO01,2000.0,120.0,232032101,000111000,46.0,18.0,1.0,1.0,0.0,9.0,0.0,0.0,0.0,2.0,None,0.0,1.0,None,-1.0,None,7.0,1.0,2.0,2.0,0.0,0.0,27.0,11.0,4.0,4.0,0.0,0.0,37.0,10.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,3.0,None,1.0,0.0,None,-1.0,None,10.0,1.0,6.0,6.0,2.0,0.0,27.0,11.0,5.0,6.0,1.0,0.0,tighe901,Ed Tighe,None,None,None,None,None,None,None,None,None,None,fergb101,Bob Ferguson,pikel101,Lip Pike,woltr101,Rynie Wolters,mcmuj101,John McMullin,None,None,None,None,woltr101,Rynie Wolters,mcmuj101,John McMullin,peard102,Dickey Pearce,6.0,smitc106,Charlie Smith,5.0,starj101,Joe Start,3.0,hatfj101,John Hatfield,7.0,fergb101,Bob Ferguson,4.0,millc104,Charlie Mills,2.0,eggld101,Dave Eggler,8.0,woltr101,Rynie Wolters,1.0,pattd103,Tom Patterson,9.0,flync101,Clipper Flynn,4.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,connn101,Ned Connor,9.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y,TRO187105183
13,18710519,0,Fri,WS3,None,6,CH1,None,5,7,9,54.0,D,None,None,None,CHI01,5000.0,110.0,001003003,000000009,41.0,8.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,None,0.0,1.0,None,-1.0,None,9.0,1.0,2.0,2.0,0.0,0.0,27.0,16.0,8.0,0.0,0.0,0.0,40.0,9.0,3.0,0.0,0.0,7.0,0.0,0.0,0.0,2.0,None,0.0,3.0,None,-1.0,None,6.0,1.0,0.0,0.0,0.0,0.0,27.0,14.0,8.0,0.0,1.0,0.0,holls901,Sam Holley,None,None,None,None,None,None,None,None,None,None,younn801,Nick Young,woodj106,Jimmy Wood,zettg101,George Zettlein,braia102,Asa Brainard,None,None,None,None,braia102,Asa Brainard,zettg101,George Zettlein,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,sweac101,Charlie Sweasy,4.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,glenj102,John Glenn,9.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,treaf101,Fred Treacey,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,HTBF,Y,CH1187105195
14,18710520,0,Sat,PH1,None,1,BS1,None,4,8,11,54.0,D,None,None,None,BOS01,2500.0,155.0,010000250,020070101,43.0,12.0,2.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,None,2.0,1.0,None,-1.0,None,8.0,1.0,7.0,7.0,0.0,0.0,27.0,14.0,10.0,1.0,1.0,0.0,47.0,16.0,2.0,1.0,0.0,10.0,0.0,0.0,0.0,0.0,None,0.0,4.0,None,-1.0,None,9.0,2.0,4.0,4.0,1.0,0.0,27.0,8.0,6.0,0.0,2.0,0.0,busha901,Archie Bush,None,None,None,None,None,None,None,None,None,None,mcbrd101,Dick McBride,wrigh101,Harry Wright,spala101,Al Spalding,mcbrd101,Dick McBride,wrigh101,Harry Wright,None,None,mcbrd101,Dick McBride,spala101,Al Spalding,cuthn101,Ned Cuthbert,2.0,mcbrd101,Dick McBride,1.0,radcj101,John Radcliff,6.0,bechg101,George Bechtel,7.0,fislw101,Wes Fisler,3.0,reaca101,Al Reach,4.0,sensc101,Count Sensenderfer,8.0,meyel102,Levi Meyerle,5.0,heubg101,George Heubel,9.0,barrf102,Frank Barrows,4.0,barnr102,Ross Barnes,6.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,HTBF,Y,BS1187105204

In [41]:
run_command("""
CREATE TABLE IF NOT EXISTS game(
    game_id TEXT PRIMARY KEY,
    date INTEGER,
    number_of_game INTEGER,
    park_id TEXT,
    length_outs REAL,
    day BLOB,
    completion TEXT,
    forfeit TEXT,
    protest TEXT,
    attendance REAL,
    length_minutes REAL,
    additional_info TEXT,
    acquisition_info TEXT,
    FOREIGN KEY (park_id) REFERENCES park(park_id)
)
""")

In [42]:
run_command("""
INSERT OR IGNORE INTO game
    SELECT game_id, date, number_of_game, park_id, length_outs,
        CASE
            WHEN day_night = 'D' THEN 1
            WHEN day_night = 'N' THEN 0
            
        END,
        completion,
        forefeit,
        protest,
        attendance,
        length_minutes,
        additional_info,
        acquisition_info
    FROM game_log
""")

In [43]:
run_query("SELECT * FROM game LIMIT 10")

,game_id,date,number_of_game,park_id,length_outs,day,completion,forfeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,FW1187105041,18710504,0,FOR01,54.0,1,None,None,None,200.0,120.0,None,Y
1,WS3187105051,18710505,0,WAS01,54.0,1,None,None,None,5000.0,145.0,HTBF,Y
2,RC1187105061,18710506,0,RCK01,54.0,1,None,None,None,1000.0,140.0,None,Y
3,CH1187105081,18710508,0,CHI01,54.0,1,None,None,None,5000.0,150.0,None,Y
4,TRO187105091,18710509,0,TRO01,54.0,1,None,None,None,3250.0,145.0,HTBF,Y
5,CL1187105114,18710511,0,CLE01,48.0,1,None,V,None,2500.0,120.0,None,Y
6,CL1187105135,18710513,0,CIN01,54.0,1,None,None,None,1200.0,150.0,None,Y
7,FW1187105132,18710513,0,FOR01,54.0,1,None,None,None,1500.0,105.0,None,Y
8,FW1187105153,18710515,0,FOR01,54.0,1,None,None,None,NaN,140.0,None,Y
9,BS1187105163,18710516,0,BOS01,54.0,1,None,None,None,2500.0,NaN,HTBF,Y

In [44]:
column_list = run_query("""
SELECT sql
FROM (SELECT sql FROM sqlite_master WHERE name = 'game_log' AND type = 'table')

WHERE sql LIKE '%player%'
""")['sql'].iloc[0].replace('CREATE TABLE "game_log" (\n','').replace('\n, game_id)','').replace('"','').split(',\n  ')

In [45]:
[h[2:] for h in column_list if ('h_' in h) and ('length_' not in h)]

['name TEXT',
 'league TEXT',
 'game_number INTEGER',
 'score INTEGER',
 'line_score TEXT',
 'at_bats REAL',
 'hits REAL',
 'doubles REAL',
 'triples REAL',
 'homeruns REAL',
 'rbi REAL',
 'sacrifice_hits REAL',
 'sacrifice_flies REAL',
 'hit_by_pitch REAL',
 'walks REAL',
 'intentional_walks REAL',
 'strikeouts REAL',
 'stolen_bases REAL',
 'caught_stealing REAL',
 'grounded_into_double REAL',
 'first_catcher_interference REAL',
 'left_on_base REAL',
 'pitchers_used REAL',
 'individual_earned_runs REAL',
 'team_earned_runs REAL',
 'wild_pitches REAL',
 'balks REAL',
 'putouts REAL',
 'assists REAL',
 'errors REAL',
 'passed_balls REAL',
 'double_plays REAL',
 'triple_plays REAL',
 'manager_id TEXT',
 'manager_name TEXT',
 'starting_pitcher_id TEXT',
 'starting_pitcher_name TEXT',
 'player_1_id TEXT',
 'player_1_name TEXT',
 'player_1_def_pos REAL',
 'player_2_id TEXT',
 'player_2_name TEXT',
 'player_2_def_pos REAL',
 'player_3_id TEXT',
 'player_3_name TEXT',
 'player_3_def_pos REAL',
 'player_4_id TEXT',
 'player_4_name TEXT',
 'player_4_def_pos REAL',
 'player_5_id TEXT',
 'player_5_name TEXT',
 'player_5_def_pos REAL',
 'player_6_id TEXT',
 'player_6_name TEXT',
 'player_6_def_pos REAL',
 'player_7_id TEXT',
 'player_7_name TEXT',
 'player_7_def_pos REAL',
 'player_8_id TEXT',
 'player_8_name TEXT',
 'player_8_def_pos REAL',
 'player_9_id TEXT',
 'player_9_name TEXT',
 'player_9_def_pos REAL']

In [46]:
strr = """'score INTEGER', 'line_score TEXT', 'at_bats REAL', 'hits REAL', 'doubles REAL', 'triples REAL', 'homeruns REAL', 'rbi REAL', 'sacrifice_hits REAL', 'sacrifice_flies REAL', 'hit_by_pitch REAL', 'walks REAL', 'intentional_walks REAL', 'strikeouts REAL', 'stolen_bases REAL', 'caught_stealing REAL', 'grounded_into_double REAL', 'first_catcher_interference REAL', 'left_on_base REAL', 'pitchers_used REAL', 'individual_earned_runs REAL', 'team_earned_runs REAL', 'wild_pitches REAL', 'balks REAL', 'putouts REAL', 'assists REAL', 'errors REAL', 'passed_balls REAL', 'double_plays REAL', 'triple_plays REAL'"""

In [47]:
strr.replace('\'','')

'score INTEGER, line_score TEXT, at_bats REAL, hits REAL, doubles REAL, triples REAL, homeruns REAL, rbi REAL, sacrifice_hits REAL, sacrifice_flies REAL, hit_by_pitch REAL, walks REAL, intentional_walks REAL, strikeouts REAL, stolen_bases REAL, caught_stealing REAL, grounded_into_double REAL, first_catcher_interference REAL, left_on_base REAL, pitchers_used REAL, individual_earned_runs REAL, team_earned_runs REAL, wild_pitches REAL, balks REAL, putouts REAL, assists REAL, errors REAL, passed_balls REAL, double_plays REAL, triple_plays REAL'

In [48]:
run_command("""
CREATE TABLE IF NOT EXISTS team_appearance(
    team_id TEXT,
    game_id TEXT,
    home BLOB,
    league_id TEXT,
    score INTEGER, line_score TEXT, at_bats REAL, hits REAL, doubles REAL, triples REAL, homeruns REAL, rbi REAL, sacrifice_hits REAL, sacrifice_flies REAL, hit_by_pitch REAL, walks REAL, intentional_walks REAL, strikeouts REAL, stolen_bases REAL, caught_stealing REAL, grounded_into_double REAL, first_catcher_interference REAL, left_on_base REAL, pitchers_used REAL, individual_earned_runs REAL, team_earned_runs REAL, wild_pitches REAL, balks REAL, putouts REAL, assists REAL, errors REAL, passed_balls REAL, double_plays REAL, triple_plays REAL,
    PRIMARY KEY (team_id, game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (league_id) REFERENCES league(league_id)
);
""")

In [49]:
# run_command("DROP TABLE team_appearance")

In [50]:
", ".join([h for h in column_list if ('h_' in h) and ('length_' not in h)][3:33])
# Used this to combine home columns into string which then I copy and pasted into the INSERT INTO command

'h_score INTEGER, h_line_score TEXT, h_at_bats REAL, h_hits REAL, h_doubles REAL, h_triples REAL, h_homeruns REAL, h_rbi REAL, h_sacrifice_hits REAL, h_sacrifice_flies REAL, h_hit_by_pitch REAL, h_walks REAL, h_intentional_walks REAL, h_strikeouts REAL, h_stolen_bases REAL, h_caught_stealing REAL, h_grounded_into_double REAL, h_first_catcher_interference REAL, h_left_on_base REAL, h_pitchers_used REAL, h_individual_earned_runs REAL, h_team_earned_runs REAL, h_wild_pitches REAL, h_balks REAL, h_putouts REAL, h_assists REAL, h_errors REAL, h_passed_balls REAL, h_double_plays REAL, h_triple_plays REAL'

In [51]:
run_command("""
INSERT OR IGNORE INTO team_appearance
    SELECT
        h_name,
        game_id,
        1 AS home,
        h_league,
        h_score, h_line_score, h_at_bats, h_hits,
        h_doubles, h_triples, h_homeruns, h_rbi, h_sacrifice_hits, h_sacrifice_flies, h_hit_by_pitch,
        h_walks, h_intentional_walks, h_strikeouts, h_stolen_bases, h_caught_stealing, h_grounded_into_double,
        h_first_catcher_interference, h_left_on_base, h_pitchers_used, h_individual_earned_runs,
        h_team_earned_runs, h_wild_pitches, h_balks, h_putouts, h_assists, h_errors,
        h_passed_balls, h_double_plays, h_triple_plays
    FROM game_log
UNION
    SELECT
        v_name,
        game_id,
        0 AS home,
        v_league,
        v_score, v_line_score, v_at_bats, v_hits,
        v_doubles, v_triples, v_homeruns, v_rbi, v_sacrifice_hits, v_sacrifice_flies, v_hit_by_pitch,
        v_walks, v_intentional_walks, v_strikeouts, v_stolen_bases, v_caught_stealing, v_grounded_into_double,
        v_first_catcher_interference, v_left_on_base, v_pitchers_used, v_individual_earned_runs,
        v_team_earned_runs, v_wild_pitches, v_balks, v_putouts, v_assists, v_errors,
        v_passed_balls, v_double_plays, v_triple_plays
    FROM game_log
""")

In [52]:
run_query("SELECT * FROM team_appearance WHERE line_score != 'None' LIMIT 20")

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ANA,ANA200004031,1,AL,2,010000001,35.0,10.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,5.0,0.0,6.0,0.0,1.0,0.0,0.0,11.0,3.0,3.0,3.0,0.0,0.0,27.0,16.0,1.0,0.0,0.0,0.0
1,ANA,ANA200004042,1,AL,3,000003000,36.0,10.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,6.0,0.0,9.0,1.0,0.0,2.0,0.0,12.0,4.0,5.0,5.0,0.0,0.0,27.0,12.0,1.0,0.0,2.0,0.0
2,ANA,ANA200004053,1,AL,12,12610110x,33.0,12.0,4.0,0.0,1.0,12.0,0.0,2.0,1.0,8.0,0.0,4.0,1.0,0.0,0.0,0.0,8.0,3.0,6.0,6.0,0.0,0.0,27.0,13.0,2.0,0.0,2.0,0.0
3,ANA,ANA200004074,1,AL,7,30000310x,32.0,9.0,2.0,0.0,2.0,7.0,1.0,0.0,0.0,5.0,2.0,5.0,3.0,0.0,0.0,0.0,7.0,2.0,3.0,3.0,0.0,0.0,27.0,9.0,0.0,0.0,1.0,0.0
4,ANA,ANA200004085,1,AL,7,20000401x,35.0,13.0,4.0,0.0,1.0,7.0,1.0,0.0,0.0,1.0,0.0,4.0,0.0,1.0,0.0,0.0,6.0,6.0,5.0,5.0,2.0,0.0,27.0,18.0,0.0,0.0,3.0,0.0
5,ANA,ANA200004096,1,AL,2,000000011,33.0,7.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,1.0,0.0,14.0,2.0,0.0,0.0,0.0,6.0,3.0,5.0,5.0,0.0,0.0,27.0,8.0,0.0,0.0,0.0,0.0
6,ANA,ANA200004107,1,AL,6,00200040x,28.0,7.0,2.0,0.0,1.0,6.0,0.0,1.0,0.0,9.0,1.0,1.0,0.0,0.0,1.0,0.0,8.0,1.0,0.0,0.0,2.0,0.0,27.0,17.0,1.0,0.0,2.0,0.0
7,ANA,ANA200004118,1,AL,5,04100000x,29.0,8.0,3.0,0.0,2.0,5.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,1.0,1.0,0.0,3.0,5.0,4.0,4.0,1.0,1.0,27.0,8.0,1.0,0.0,2.0,0.0
8,ANA,ANA200004129,1,AL,2,100010000,33.0,9.0,4.0,0.0,0.0,2.0,0.0,0.0,3.0,2.0,0.0,6.0,1.0,1.0,1.0,0.0,9.0,4.0,6.0,6.0,0.0,0.0,27.0,10.0,0.0,0.0,2.0,0.0
9,ANA,ANA2000042420,1,AL,10,21121300x,35.0,14.0,2.0,0.0,4.0,10.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,2.0,0.0,5.0,3.0,3.0,3.0,1.0,0.0,27.0,13.0,2.0,0.0,2.0,0.0
10,ANA,ANA2000042521,1,AL,2,002000000,34.0,8.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,1.0,0.0,10.0,2.0,2.0,2.0,0.0,0.0,27.0,10.0,2.0,0.0,2.0,0.0
11,ANA,ANA2000042622,1,AL,6,03000012x,32.0,11.0,1.0,0.0,3.0,6.0,1.0,0.0,0.0,2.0,0.0,6.0,0.0,2.0,0.0,0.0,5.0,2.0,1.0,1.0,0.0,0.0,27.0,15.0,0.0,0.0,1.0,0.0
12,ANA,ANA2000042723,1,AL,3,001000002,31.0,6.0,1.0,0.0,1.0,3.0,1.0,0.0,2.0,4.0,0.0,8.0,0.0,0.0,1.0,0.0,8.0,4.0,6.0,6.0,2.0,0.0,27.0,14.0,1.0,0.0,1.0,0.0
13,ANA,ANA2000042824,1,AL,2,020000000,34.0,7.0,3.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0,0.0,0.0,0.0,6.0,5.0,11.0,11.0,0.0,0.0,27.0,11.0,1.0,0.0,1.0,0.0
14,ANA,ANA2000042925,1,AL,7,0101300010001,46.0,13.0,1.0,0.0,3.0,7.0,1.0,0.0,0.0,2.0,0.0,7.0,3.0,0.0,0.0,0.0,6.0,5.0,5.0,5.0,1.0,0.0,39.0,13.0,2.0,0.0,4.0,0.0
15,ANA,ANA2000043026,1,AL,5,30010100x,32.0,9.0,1.0,0.0,1.0,5.0,0.0,0.0,0.0,3.0,0.0,9.0,0.0,0.0,1.0,0.0,6.0,3.0,2.0,2.0,0.0,0.0,27.0,5.0,0.0,0.0,0.0,0.0
16,ANA,ANA2000050833,1,AL,9,12011310x,38.0,17.0,4.0,0.0,2.0,9.0,0.0,1.0,0.0,4.0,3.0,5.0,1.0,0.0,0.0,0.0,10.0,5.0,7.0,7.0,0.0,0.0,27.0,9.0,3.0,0.0,1.0,0.0
17,ANA,ANA2000050934,1,AL,2,000000011,35.0,9.0,2.0,0.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,1.0,0.0,8.0,5.0,5.0,5.0,0.0,0.0,27.0,12.0,0.0,0.0,1.0,0.0
18,ANA,ANA2000051035,1,AL,4,001000021,35.0,9.0,4.0,0.0,1.0,4.0,0.0,0.0,1.0,2.0,0.0,9.0,0.0,0.0,1.0,0.0,7.0,4.0,7.0,7.0,0.0,0.0,27.0,7.0,0.0,0.0,0.0,0.0
19,ANA,ANA2000051136,1,AL,3,00001011x,32.0,10.0,1.0,0.0,2.0,3.0,1.0,0.0,0.0,1.0,1.0,5.0,0.0,0.0,1.0,0.0,7.0,5.0,2.0,2.0,0.0,0.0,27.0,11.0,0.0,0.0,1.0,0.0

Above I checked to make sure eveything in the table looked correct.. So far so good

In [64]:
run_command("""
CREATE TABLE IF NOT EXISTS person_appearance(
    appearance_id INTEGER PRIMARY KEY,
    person_id TEXT,
    team_id TEXT,
    game_id TEXT,
    appearance_type_id TEXT,
    FOREIGN KEY (person_id) REFERENCES person(person_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (appearance_type_id) REFERENCES appearance_type (appearance_type)
)
""")

In [72]:
run_query('SELECT * FROM appearance_type')

   appearance_type                name category
0               O1            Batter 1  offense
1               O2            Batter 2  offense
2               O3            Batter 3  offense
3               O4            Batter 4  offense
4               O5            Batter 5  offense
5               O6            Batter 6  offense
6               O7            Batter 7  offense
7               O8            Batter 8  offense
8               O9            Batter 9  offense
9               D1             Pitcher  defense
10              D2             Catcher  defense
11              D3            1st Base  defense
12              D4            2nd Base  defense
13              D5            3rd Base  defense
14              D6           Shortstop  defense
15              D7          Left Field  defense
16              D8        Center Field  defense
17              D9         Right Field  defense
18             D10    Unknown Position  defense
19             UHP          Home Plate   umpire
20             U1B          First Base   umpire
21             U2B         Second Base   umpire
22             U3B          Third Base   umpire
23             ULF          Left Field   umpire
24             URF         Right Field   umpire
25              MM             Manager  manager
26             AWP     Winning Pitcher    award
27             ALP      Losing Pitcher    award
28             ASP      Saving Pitcher    award
29             AWB  Winning RBI Batter    award
30             PSP    Starting Pitcher  pitcher

In [70]:
run_command("""
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
)
    SELECT
        game_id,
        NULL,
        hp_umpire_id,
        "UHP"
    FROM game_log
    WHERE hp_umpire_id IS NOT NULL

UNION
    
    SELECT
        game_id,
        NULL,
        [1b_umpire_id],
        "U1B"
    FROM game_log
    WHERE [1b_umpire_id] IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        [2b_umpire_id],
        "U2B"
    FROM game_log
    WHERE [2b_umpire_id] IS NOT NULL

UNION
    
    SELECT
        game_id,
        NULL,
        [3b_umpire_id],
        "U3B"
    FROM game_log
    WHERE [3b_umpire_id] IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        lf_umpire_id,
        "ULF"
    FROM game_log
    WHERE lf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        rf_umpire_id,
        "URF"
    FROM game_log
    WHERE rf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        v_name,
        v_manager_id,
        "MM"
    FROM game_log
    WHERE v_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        h_name,
        h_manager_id,
        "MM"
    FROM game_log
    WHERE h_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_pitcher_id,
        "AWP"
    FROM game_log
    WHERE winning_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN v_name
            ELSE h_name
            END,
        losing_pitcher_id,
        "ALP"
    FROM game_log
    WHERE losing_pitcher_id IS NOT NULL

UNION
    
    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        saving_pitcher_id,
        "ASP"
    FROM game_log
    WHERE saving_pitcher_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_rbi_batter_id,
        "AWB"
    FROM game_log
    WHERE winning_rbi_batter_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        v_name,
        v_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE v_starting_pitcher_id IS NOT NULL
    
UNION
    SELECT
        game_id,
        h_name,
        h_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE h_starting_pitcher_id IS NOT NULL
    """
           )

In [71]:
run_query("SELECT * FROM person_appearance LIMIT 10")

   appearance_id person_id team_id       game_id appearance_type_id
0              1  maplb901    None  ALT188404308                UHP
1              2  curte801     ALT  ALT188404308                 MM
2              3  murpj104     ALT  ALT188404308                PSP
3              4  hodnc101     SLU  ALT188404308                PSP
4              5  sullt101     SLU  ALT188404308                 MM
5              6  hoopm101    None  ALT188405029                UHP
6              7  curte801     ALT  ALT188405029                 MM
7              8  learj102     ALT  ALT188405029                PSP
8              9  sullt101     SLU  ALT188405029                 MM
9             10  taylb103     SLU  ALT188405029                PSP

In [73]:
game_log.head()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

Now adding the Players:

In [78]:
template = """
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}"
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION

    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
"""

# run_command(c1)
# run_command(c2)

for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
#        print(template.format(**query_vars))
#         # run commmand is a helper function which runs
#         # a query against our database.
        run_command(template.format(**query_vars))

In [83]:
run_query("SELECT * FROM person_appearance WHERE appearance_type_id LIKE 'D%' LIMIT 100")

    appearance_id person_id team_id         game_id appearance_type_id
0         1646119  erstd001     ANA    ANA200004031                 D7
1         1646121  erstd001     ANA    ANA200004042                 D7
2         1646123  erstd001     ANA    ANA200004053                 D7
3         1646125  erstd001     ANA    ANA200004074                 D7
4         1646127  erstd001     ANA    ANA200004085                 D7
5         1646129  erstd001     ANA    ANA200004096                 D7
6         1646131  erstd001     ANA    ANA200004107                 D7
7         1646133  erstd001     ANA    ANA200004118                 D7
8         1646135  erstd001     ANA    ANA200004129                 D7
9         1646137  erstd001     ANA   ANA2000042420                 D7
10        1646139  erstd001     ANA   ANA2000042521                 D7
11        1646141  erstd001     ANA   ANA2000042622                 D8
12        1646143  erstd001     ANA   ANA2000042723                 D7
13        1646145  erstd001     ANA   ANA2000042824                 D7
14        1646147  erstd001     ANA   ANA2000042925                 D7
15        1646149  erstd001     ANA   ANA2000043026                D10
16        1646151  erstd001     ANA   ANA2000050833                 D7
17        1646153  erstd001     ANA   ANA2000050934                 D7
18        1646155  erstd001     ANA   ANA2000051035                 D7
19        1646157  erstd001     ANA   ANA2000051136                 D7
20        1646159  erstd001     ANA   ANA2000051237                D10
21        1646161  erstd001     ANA   ANA2000051338                 D7
22        1646163  erstd001     ANA   ANA2000051439                 D7
23        1646165  erstd001     ANA   ANA2000051640                 D7
24        1646167  erstd001     ANA   ANA2000051741                 D7
25        1646169  erstd001     ANA   ANA2000051942                 D7
26        1646171  erstd001     ANA   ANA2000052043                 D7
27        1646173  erstd001     ANA   ANA2000052144                 D7
28        1646175  erstd001     ANA   ANA2000060254                 D7
29        1646177  erstd001     ANA   ANA2000060355                 D7
30        1646179  erstd001     ANA   ANA2000060456                 D7
31        1646181  erstd001     ANA   ANA2000060557                 D7
32        1646183  erstd001     ANA   ANA2000060658                 D7
33        1646185  erstd001     ANA   ANA2000060759                 D7
34        1646187  erstd001     ANA   ANA2000062069                 D7
35        1646189  erstd001     ANA   ANA2000062170                 D7
36        1646191  erstd001     ANA   ANA2000062271                 D8
37        1646193  erstd001     ANA   ANA2000062372                 D7
38        1646195  erstd001     ANA   ANA2000062473                 D7
39        1646197  erstd001     ANA   ANA2000062574                D10
40        1646199  erstd001     ANA   ANA2000062675                 D7
41        1646201  erstd001     ANA   ANA2000063079                 D7
42        1646203  erstd001     ANA   ANA2000070180                 D7
43        1646205  erstd001     ANA   ANA2000070281                D10
44        1646207  gil-b001     ANA   ANA2000070382                 D6
45        1646209  erstd001     ANA   ANA2000070483                D10
46        1646211  erstd001     ANA   ANA2000070584                D10
47        1646213  erstd001     ANA   ANA2000070685                 D7
48        1646215  erstd001     ANA   ANA2000070786                 D7
49        1646217  erstd001     ANA   ANA2000070887                 D7
50        1646219  erstd001     ANA   ANA2000070988                 D7
51        1646221  erstd001     ANA   ANA2000071995                 D7
52        1646223  erstd001     ANA   ANA2000072096                 D8
53        1646225  erstd001     ANA  ANA20000727103                 D7
54        1646227  erstd001     ANA  ANA20000728104                 D7
55        1646229  erstd001     ANA  ANA20000729105                 D7
56        1646231  erstd001     ANA  ANA20000730106                 D7
57        1646233  erstd001     ANA  ANA20000731107                 D7
58        1646235  erstd001     ANA  ANA20000801108                D10
59        1646237  erstd001     ANA  ANA20000802109                 D7
60        1646239  erstd001     ANA  ANA20000807113                 D7
61        1646241  erstd001     ANA  ANA20000808114                 D7
62        1646243  erstd001     ANA  ANA20000809115                 D7
63        1646245  erstd001     ANA  ANA20000811116                 D7
64        1646247  erstd001     ANA  ANA20000812117                 D7
65        1646249  erstd001     ANA  ANA20000813118                 D7
66        1646251  erstd001     ANA  ANA20000825128                D10
67        1646253  erstd001     ANA  ANA20000826129                D10
68        1646255  erstd001     ANA  ANA20000827130                D10
69        1646257  erstd001     ANA  ANA20000828131                D10
70        1646259  erstd001     ANA  ANA20000829132                D10
71        1646261  erstd001     ANA  ANA20000830133                D10
72        1646263  erstd001     ANA  ANA20000908141                 D7
73        1646265  erstd001     ANA  ANA20000909142                 D8
74        1646267  erstd001     ANA  ANA20000910143                 D7
75        1646269  erstd001     ANA  ANA20000911144                 D8
76        1646271  erstd001     ANA  ANA20000912145                 D7
77        1646273  erstd001     ANA  ANA20000913146                 D7
78        1646275  erstd001     ANA  ANA20000929160                 D8
79        1646277  erstd001     ANA  ANA20000930161                 D8
80        1646279  erstd001     ANA  ANA20001001162                 D8
81        1646281  erstd001     ANA    ANA200104107                 D8
82        1646283  erstd001     ANA    ANA200104118                 D8
83        1646285  erstd001     ANA    ANA200104129                 D8
84        1646287  erstd001     ANA   ANA2001041310                 D8
85        1646289  erstd001     ANA   ANA2001041411                 D8
86        1646291  erstd001     ANA   ANA2001041512                 D8
87        1646293  erstd001     ANA   ANA2001041613                 D8
88        1646295  erstd001     ANA   ANA2001041714                 D8
89        1646297  erstd001     ANA   ANA2001041815                 D8
90        1646299  ecksd001     ANA   ANA2001050126                 D4
91        1646301  ecksd001     ANA   ANA2001050227                 D6
92        1646303  ecksd001     ANA   ANA2001050328                 D6
93        1646305  ecksd001     ANA   ANA2001050429                 D6
94        1646307  ecksd001     ANA   ANA2001050530                 D6
95        1646309  ecksd001     ANA   ANA2001050631                 D6
96        1646311  ecksd001     ANA   ANA2001051538                 D4
97        1646313  ecksd001     ANA   ANA2001051639                 D6
98        1646315  ecksd001     ANA   ANA2001051740                 D6
99        1646317  ecksd001     ANA   ANA2001051841                 D6

In [85]:
run_command("DROP TABLE game_log")

In [86]:
lisst = ['park_','team_','person_']

for el in lisst:
    run_command("DROP TABLE %scodes" % el)

In [87]:
run_query("SELECT * FROM sqlite_master")

,type,name,tbl_name,rootpage,sql
0,table,person,person,37332,"CREATE TABLE person (\n person_id TEXT PRIMARY KEY,\n first_name TEXT,\n last_name TEXT\n)"
1,index,sqlite_autoindex_person_1,person,37333,None
2,table,park,park,37567,"CREATE TABLE park (\n park_id TEXT PRIMARY KEY,\n name TEXT,\n nickname TEXT,\n city TEXT,\n state TEXT,\n notes TEXT\n)"
3,index,sqlite_autoindex_park_1,park,37568,None
4,table,league,league,37573,"CREATE TABLE league(\n league_id TEXT PRIMARY KEY,\n name TEXT\n)"
5,index,sqlite_autoindex_league_1,league,37574,None
6,table,appearance_type,appearance_type,37575,"CREATE TABLE appearance_type(\n appearance_type TEXT PRIMARY KEY,\n name TEXT,\n category TEXT\n)"
7,index,sqlite_autoindex_appearance_type_1,appearance_type,37576,None
8,table,appear_inter,appear_inter,37577,"CREATE TABLE ""appear_inter"" (\n""appearance_type_id"" TEXT,\n ""name"" TEXT,\n ""category"" TEXT\n)"
9,table,team,team,37578,"CREATE TABLE team(\n team_id TEXT PRIMARY KEY,\n league_id TEXT,\n city TEXT,\n nickname TEXT,\n franch_id TEXT,\n FOREIGN KEY (league_id) REFERENCES league(league_id)\n)"
10,index,sqlite_autoindex_team_1,team,37579,None
11,table,game,game,37582,"CREATE TABLE game(\n game_id TEXT PRIMARY KEY,\n date INTEGER,\n number_of_game INTEGER,\n park_id TEXT,\n length_outs REAL,\n day BLOB,\n completion TEXT,\n forfeit TEXT,\n protest TEXT,\n attendance REAL,\n length_minutes REAL,\n additional_info TEXT,\n acquisition_info TEXT,\n FOREIGN KEY (park_id) REFERENCES park(park_id)\n)"
12,index,sqlite_autoindex_game_1,game,37583,None
13,table,team_appearance,team_appearance,40627,"CREATE TABLE team_appearance(\n team_id TEXT,\n game_id TEXT,\n home BLOB,\n league_id TEXT,\n score INTEGER, line_score TEXT, at_bats REAL, hits REAL, doubles REAL, triples REAL, homeruns REAL, rbi REAL, sacrifice_hits REAL, sacrifice_flies REAL, hit_by_pitch REAL, walks REAL, intentional_walks REAL, strikeouts REAL, stolen_bases REAL, caught_stealing REAL, grounded_into_double REAL, first_catcher_interference REAL, left_on_base REAL, pitchers_used REAL, individual_earned_runs REAL, team_earned_runs REAL, wild_pitches REAL, balks REAL, putouts REAL, assists REAL, errors REAL, passed_balls REAL, double_plays REAL, triple_plays REAL,\n PRIMARY KEY (team_id, game_id),\n FOREIGN KEY (team_id) REFERENCES team(team_id),\n FOREIGN KEY (game_id) REFERENCES game(game_id),\n FOREIGN KEY (league_id) REFERENCES league(league_id)\n)"
14,index,sqlite_autoindex_team_appearance_1,team_appearance,40628,None
15,table,person_appearance,person_appearance,49718,"CREATE TABLE person_appearance(\n appearance_id INTEGER PRIMARY KEY,\n person_id TEXT,\n team_id TEXT,\n game_id TEXT,\n appearance_type_id TEXT,\n FOREIGN KEY (person_id) REFERENCES person(person_id),\n FOREIGN KEY (team_id) REFERENCES team(team_id),\n FOREIGN KEY (game_id) REFERENCES game(game_id),\n FOREIGN KEY (appearance_type_id) REFERENCES appearance_type (appearance_type)\n)"